* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.nav-bar {
 display: flex;
 align-items: center;
 justify-content: space-between;

 position: relative;
 margin: 20px;
}

.mobile-logo {
 width: 80px;
 height: 80px;
 position: absolute;
 left: 50%;
 transform: translateX(-50%) translateY(-55%);
}
.desktop-logo {
 display: none;
}
.search-bar {
 display: flex;
 justify-content: center;
}

.search-icon {
 width: 20px;
}
.cart-icon {
 width: 20px;
}

.cart-count {
 margin-top: 2px;
}
.right-icons {
 gap: 90px;
}

.nav-links,
a {
 list-style-type: none;
 text-decoration: none;
}

/* hamburger */
.hamburger-bar {
 font-size: 26px;
 display: block;
 flex-direction: column;
 cursor: pointer;
}
.nav-links {
 position: absolute;
 top: 60px;
 left: 10px;
 background-color: rgba(227, 229, 235, 0.938);
 display: none;
 flex-direction: column;
 width: 100px;
 padding: 0;
 margin: 0;
}
.nav-links.active {
 display: flex;
}

.hero-image {
 width: 100%;
 max-width: 900px;
 height: 40%;
 align-items: center;
 padding: 15px;
 margin: 5px 5px;
 box-sizing: border-box;
 border-radius: 100px;
 position: relative;
 right: 7px;
}
.hero-container {
 max-width: 1200px;
 background: rgb(0, 89, 255);
 border-radius: 10px;
 margin-bottom: 5%;
 margin: 20px 20px;
 padding: 20px 12px;
 box-sizing: border-box;
}
.shop {
 margin-top: 15px;
 background-color: transparent;
 padding: 10px;
 border: 2px solid #fff;
 font-weight: 500;
 font-size: 17px;
 border-radius: 10px;
 cursor: pointer;
}
.featured-products {
 display: flex;
 align-items: center;
 flex-direction: column;
}

.product-card {
 width: 300px;
 border: 1px solid #ddd;
 padding: 10px;
 margin-bottom: 20px;
 border-radius: 4px;
}
.add-product {
 margin-top: 10px;
 padding: 10px;
 border-radius: 10px;
 border: none;
 background-color: rgb(0, 89, 255);
 cursor: pointer;
}

.about {
 max-width: 400px;
 flex-basis: 31%;
 background: rgb(0, 89, 255);
 border-radius: 10px;
 margin-bottom: 5%;
 padding: 20px 12px;
 box-sizing: border-box;
}
